.texto-destinos {
    text-align: justify;
    justify-content: stretch;
    color: white;
    font-family: 'Prompt', sans-serif;
    font-weight: 600;
    font-size: 100%;
    padding: 10em;
    background-image: url("../img/destino-main.jpg");
    background-repeat: no-repeat;
}

.destinos {
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
    .div-destino {
        margin: 10px;
        .destino {
            background-color: $color-anubis;
            border-left: 1px solid;
            border-right: 1px solid;
            border-top: 1px solid;
            font-family: 'Prompt', sans-serif;
            font-size: 20px;
            text-align: center;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            width: 300px;
            .img-destino {
                width: 300px;
                height: 168px;
            }
        }
        .texto-destino {
            border-left: 1px solid;
            border-right: 1px solid;
            border-bottom: 1px solid;
            background-color: $color-anubis;
            padding: 15px 30px;
            text-align: center;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            width: 300px;
            height: 230px;
            font-family: 'Noto Sans JP', sans-serif;
            font-size: 15px;
        }
    }
}

.texto-paquetes {
    text-align: justify;
    justify-content: stretch;
    color: white;
    font-family: 'Prompt', sans-serif;
    font-weight: 600;
    font-size: 100%;
    padding: 10em;
    background-image: url("../img/paquetes-main1.jpg");
    background-repeat: no-repeat;
}